/resources/public/js/compiled/**
/resources/public/css/*
/releases/
/dist/
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/deploy/
/speckly/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.idea
*.iml
.DS_Store
Thumbs.db
.sass-cache
.cljs_rhino_repl/
node_modules/
#*#
