/* some style */
.plasio-ui {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .plasio-ui a:focus {
    outline: none; }
  .plasio-ui .btn:focus {
    outline: none !important; }
  .plasio-ui button:focus {
    outline: none; }
  .plasio-ui input::-moz-focus-inner {
    border: 0; }
  .plasio-ui a::-moz-focus-inner {
    border: 0; }
  .plasio-ui .checkbox {
    margin-top: 0px; }
  .plasio-ui .noUi-connect {
    background-color: RGB(0, 187, 215); }
  .plasio-ui .app-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1000; }
    .plasio-ui .app-bar-container .app-bar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 30px;
      background-color: #00BCD6;
      box-shadow: 0px 1px 2px #333;
      z-index: 1000; }
      .plasio-ui .app-bar-container .app-bar .title {
        color: white;
        line-height: 28px;
        padding-left: 10px;
        font-weight: 700;
        float: left; }
        .plasio-ui .app-bar-container .app-bar .title .resource {
          color: #eee;
          padding-left: 10px;
          line-height: 10px;
          font-weight: 400;
          display: inline-block; }
      .plasio-ui .app-bar-container .app-bar .toolbar {
        float: right;
        margin-right: 10px;
        margin-top: 3px; }
      .plasio-ui .app-bar-container .app-bar .toolbar .btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.0em;
        padding: 2px 3px;
        position: relative;
        top: -2px; }
      .plasio-ui .app-bar-container .app-bar .toolbar .separator {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid white; }
  .plasio-ui .app-tooltip {
    position: absolute;
    right: -5px;
    top: 35px;
    background: RGB(0, 187, 215);
    color: white;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 0.8em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.8; }
  .plasio-ui input[type="checkbox"] {
    margin-top: 2px; }
  .plasio-ui ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #333; }
  .plasio-ui ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .plasio-ui ::-webkit-scrollbar-thumb {
    background-color: #00BBD7; }
  .plasio-ui .select-radios {
    margin-bottom: 10px; }
    .plasio-ui .select-radios .radio {
      margin-right: 10px; }
    .plasio-ui .select-radios input[type="radio"] {
      margin-right: 5px; }
  .plasio-ui a, .plasio-ui a:active, .plasio-ui a:visited, .plasio-ui a:focus {
    color: #eee;
    text-decoration: none; }
  .plasio-ui a:hover {
    color: #EB7F00; }
  .plasio-ui .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .plasio-ui .loader {
    text-align: center;
    margin-top: 3em; }
  .plasio-ui .container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; }
  .plasio-ui .render-target {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; }
  .plasio-ui .app-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }
  .plasio-ui .brand {
    font-size: 3em;
    text-transform: lowercase;
    font-weight: 700;
    padding-left: 10px;
    color: RGBA(34, 83, 120, 1); }
    .plasio-ui .brand .sub-brand {
      font-size: 14px;
      margin-top: -10px;
      padding-left: 3px;
      color: RGBA(22, 149, 163, 1); }
  .plasio-ui .dataset-info {
    font-size: 14px;
    padding-left: 10px; }
    .plasio-ui .dataset-info p {
      color: #eee;
      display: inline-block;
      padding: 0px;
      margin: 0px; }
    .plasio-ui .dataset-info .points:after {
      content: ' Points'; }
  .plasio-ui .app-panel {
    position: relative;
    padding: 5px; }
    .plasio-ui .app-panel .panel-section {
      padding-bottom: 5px;
      margin-bottom: 5px; }
    .plasio-ui .app-panel .title {
      border-bottom: 1px solid #ddd;
      padding-bottom: 2px;
      margin-bottom: 3px;
      font-weight: 700;
      color: RGBA(172, 240, 242, 1); }
    .plasio-ui .app-panel .close-button {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 10px; }
  .plasio-ui .slider-text .text {
    margin-right: 20px; }
  .plasio-ui .desc {
    color: #ddd;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-bottom: 0.2em; }
  .plasio-ui table.key-val {
    width: 100%;
    border-collapse: collapse; }
    .plasio-ui table.key-val tr {
      border-bottom: 1px dashed #ddd; }
    .plasio-ui table.key-val tr:last-child {
      border-bottom: none; }
    .plasio-ui table.key-val td {
      padding: 10px 2px 2px 2px;
      vertical-align: top;
      white-space: nowrap;
      float: left; }
      .plasio-ui table.key-val td a {
        color: #333; }
        .plasio-ui table.key-val td a:hover {
          text-decoration: underline; }
        .plasio-ui table.key-val td a:visited, .plasio-ui table.key-val td a:focus, .plasio-ui table.key-val td a:active {
          color: #333; }
    .plasio-ui table.key-val td:last-child {
      text-align: right;
      white-space: nowrap;
      float: right; }
  .plasio-ui .additional-info {
    padding: 10px; }
    .plasio-ui .additional-info a {
      color: #999; }
      .plasio-ui .additional-info a:hover {
        color: #EB7F00; }
  .plasio-ui .slider {
    margin: 10px 5px 20px 5px; }
  .plasio-ui .compass {
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 5px;
    right: 25px; }
    .plasio-ui .compass .circle {
      position: absolute;
      box-sizing: border-box;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 4px solid RGBA(235, 240, 242, 0.4); }
    .plasio-ui .compass .arrow {
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 2em;
      line-height: 1em;
      color: RGBA(235, 127, 0, 1);
      z-index: 100; }
    .plasio-ui .compass .arrow .n {
      position: absolute;
      left: 38px;
      bottom: 48px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 40px solid red; }
    .plasio-ui .compass .arrow .s {
      position: absolute;
      left: 38px;
      top: 48px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 40px solid white; }
  .plasio-ui .toolbar {
    margin-top: 10px; }
    .plasio-ui .toolbar .button {
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 3px;
      background-color: RGBA(0, 163, 136, 1);
      color: white;
      display: inline-block;
      font-size: 26px;
      box-shadow: 0px 1px 1px black;
      padding: 4px;
      box-sizing: border-box;
      margin-right: 5px; }
    .plasio-ui .toolbar .button.active {
      background-color: RGBA(235, 127, 0, 1); }
    .plasio-ui .toolbar .button.disabled {
      background-color: RGBA(128, 128, 128, 1); }
  .plasio-ui .profile-view {
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 25px;
    height: 200px;
    background-color: RGBA(0, 0, 0, 0.7);
    border: 2px solid RGBA(0, 163, 136, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 2px black; }
    .plasio-ui .profile-view .profile-series {
      margin-top: 10px; }
    .plasio-ui .profile-view .close {
      position: absolute;
      top: 3px;
      right: 5px;
      color: white; }
  .plasio-ui .line-info {
    margin-left: 5px;
    padding: 2px 0px 2px 10px;
    font-weight: bold; }
  .plasio-ui .status-message {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: RGBA(235, 127, 0, 1);
    color: white;
    z-index: 100000;
    border-radius: 3px;
    font-weight: bold; }
    .plasio-ui .status-message.error {
      background-color: #d00; }
  .plasio-ui .point-type label {
    margin-right: 15px; }
  .plasio-ui .point-type input[type="radio"] {
    margin: 0 3px 0 0; }
  .plasio-ui .floating-panel {
    position: fixed;
    left: 120px;
    top: 50px;
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 1px #222; }
    .plasio-ui .floating-panel a {
      color: white; }
      .plasio-ui .floating-panel a:hover {
        color: #ddd; }
      .plasio-ui .floating-panel a:active, .plasio-ui .floating-panel a:visited, .plasio-ui .floating-panel a:focus {
        color: white; }
    .plasio-ui .floating-panel.collapsed {
      max-height: 32px;
      min-height: 0px;
      overflow: hidden; }
    .plasio-ui .floating-panel.dragging {
      z-index: 100000; }
    .plasio-ui .floating-panel .close-button {
      position: absolute;
      right: 5px;
      top: 5px;
      color: white;
      font-size: 15px; }
    .plasio-ui .floating-panel .toggle {
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 15px; }
    .plasio-ui .floating-panel .title {
      font-size: 0.9em;
      padding: 5px 3px;
      background-color: #00BBD7;
      color: #eee;
      cursor: default;
      box-shadow: 0px 0px 1px #666; }
    .plasio-ui .floating-panel .title .fa {
      margin-left: 5px;
      margin-right: 5px; }
    .plasio-ui .floating-panel .title-docked .fa {
      margin-left: 5px;
      margin-right: 5px; }
    .plasio-ui .floating-panel .floating-panel-body {
      padding: 20px 20px;
      margin: 3px;
      border: 1px solid #ccc;
      font-size: 0.8em; }
    .plasio-ui .floating-panel .unpin {
      position: absolute;
      right: 40px;
      top: 5px;
      display: none; }
    .plasio-ui .floating-panel .pin {
      position: absolute;
      right: 40px;
      top: 5px; }
  .plasio-ui .docker-widget {
    position: absolute;
    left: 0px;
    top: 30px;
    bottom: 0px;
    width: 350px;
    background-color: white;
    transition: left 0.2s;
    display: flex;
    flex-direction: row; }
    .plasio-ui .docker-widget .toolbar {
      margin-top: 0;
      padding: 10px 5px 10px 5px;
      box-shadow: 0px 1px 2px #333;
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #eee;
      flex: 0 0 50px; }
    .plasio-ui .docker-widget .toolbar-item {
      position: relative;
      font-size: 1.1em;
      margin-bottom: 4px;
      border-radius: 0px;
      color: #bbb;
      display: inline-block;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px; }
    .plasio-ui .docker-widget .toolbar-item .tooltip {
      display: none;
      font-family: 'Lato', sans-serif; }
    .plasio-ui .docker-widget .toolbar .current-toolbar-item {
      color: white;
      padding-top: 10px; }
    .plasio-ui .docker-widget .toolbar-item.active {
      background-color: RGBA(0, 187, 215, 1);
      color: white; }
    .plasio-ui .docker-widget .toolbar-item:hover {
      background-color: RGBA(0, 187, 215, 1);
      color: white; }
    .plasio-ui .docker-widget .toolbar-item:hover .tooltip {
      display: inherit; }
    .plasio-ui .docker-widget.off {
      left: -350px; }
    .plasio-ui .docker-widget .toggle-docker {
      position: absolute;
      z-index: 1000;
      top: 0px;
      right: -20px;
      text-align: center;
      width: 20px;
      color: #ddd;
      font-size: 18px;
      padding: 0 5px;
      line-height: 40px;
      font-weight: 700;
      background-color: white;
      color: RGBA(0, 187, 215, 1);
      border-bottom-right-radius: 3px; }
    .plasio-ui .docker-widget .toggle-docker:hover {
      color: RGBA(0, 187, 215, 0.6); }
    .plasio-ui .docker-widget .active-pane {
      padding: 20px 30px;
      background-color: white;
      font-size: 0.8em;
      overflow: auto;
      flex: 1 1; }
      .plasio-ui .docker-widget .active-pane table {
        font-size: 1em; }
  .plasio-ui .bool-field {
    margin-bottom: 5px; }
  .plasio-ui .bool-field label {
    width: 100%;
    font-weight: 400; }
  .plasio-ui .bool-field .text {
    margin-top: 3px;
    float: left; }
  .plasio-ui .bool-field .value {
    float: right; }
  .plasio-ui .imagery .imagery-source .btn-group {
    width: 100%; }
  .plasio-ui .imagery .imagery-source .btn-group button {
    width: 100%;
    text-align: left; }
  .plasio-ui .imagery .imagery-source .btn-group .caret {
    float: right;
    margin-top: 7px; }
  .plasio-ui .imagery .imagery-source .dropdown-menu {
    width: 100%; }
  .plasio-ui .imagery .ramps-container {
    width: 100%;
    text-align: center; }
  .plasio-ui .imagery .ramp-range {
    margin-top: 5px;
    text-align: center; }
  .plasio-ui .channels {
    margin-left: -5px;
    margin-right: -5px; }
    .plasio-ui .channels .channel {
      background-color: #efefef;
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 3px; }
      .plasio-ui .channels .channel .controls {
        text-transform: uppercase;
        margin-top: 5px; }
        .plasio-ui .channels .channel .controls a {
          color: #999;
          margin-right: 5px;
          font-weight: 700; }
          .plasio-ui .channels .channel .controls a.enabled {
            color: #a00; }
          .plasio-ui .channels .channel .controls a:hover {
            color: #333; }
          .plasio-ui .channels .channel .controls a:last-child {
            margin-right: 0; }
      .plasio-ui .channels .channel .btn {
        display: block;
        width: 100%; }
      .plasio-ui .channels .channel .btn-group {
        width: 100%; }
      .plasio-ui .channels .channel .name {
        text-transform: uppercase;
        font-weight: 700;
        color: #666;
        padding: 5px; }
  .plasio-ui .local-settings .form-group {
    margin: 0px; }
  .plasio-ui .local-settings .checkbox {
    margin: 0px; }
  .plasio-ui .search-location .addr-info {
    margin-top: 10px; }
  .plasio-ui .search-location .addr-info .addr {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    padding: 5px; }
  .plasio-ui .search-location .addr-info .location {
    padding: 5px; }
  .plasio-ui .search-location .error {
    color: red;
    padding-top: 5px; }
  .plasio-ui input:focus {
    outline: none; }
  .plasio-ui .search-widget {
    position: absolute;
    background-color: white;
    width: 400px;
    right: 0px;
    color: #333;
    transition: height 0.2s, top 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: RGB(0, 187, 215); }
    .plasio-ui .search-widget input[type="text"] {
      font-size: 1.1em;
      padding: 10px;
      width: 100%;
      margin-bottom: 5px;
      border: 1px solid transparent;
      box-shadow: 0px 1px 2px #333; }
    .plasio-ui .search-widget .error {
      font-size: 0.8em;
      padding: 5px 20px;
      color: #fff;
      margin: 0px; }
    .plasio-ui .search-widget .addr-info {
      font-size: 0.8em;
      color: #eee;
      padding: 10px; }
    .plasio-ui .search-widget .addr-info p {
      margin: 0px; }
    .plasio-ui .search-widget .addr-info .coordinates {
      padding-left: 10px;
      color: #fff;
      font-weight: bold; }
    .plasio-ui .search-widget .cancel-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2em;
      color: #ccc; }
    .plasio-ui .search-widget .cancel-button:hover {
      color: #999; }
  .plasio-ui .inundation-plane .current-height {
    font-size: 1.5em;
    margin-bottom: 10px; }
  .plasio-ui .z-histogram {
    position: relative; }
    .plasio-ui .z-histogram .histogram-base-region {
      position: absolute;
      height: 50px; }
  .plasio-ui .histogram {
    position: relative;
    height: 50px;
    width: 200px; }
    .plasio-ui .histogram .histogram-item {
      position: absolute;
      background-color: #ccc; }
    .plasio-ui .histogram .histogram-item:last-child {
      border-right: none; }
  .plasio-ui .value-present {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px; }
    .plasio-ui .value-present .key {
      margin-top: 6px; }
    .plasio-ui .value-present .value {
      font-size: 1.4em; }
  .plasio-ui .tip {
    padding: 10px;
    color: #aaa; }
  .plasio-ui .tip-warn {
    padding: 10px;
    color: #FF530D; }
  .plasio-ui .powered-by {
    font-size: 12px; }
  .plasio-ui .entwine {
    display: inline-block;
    background: url(../img/entwine.png);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%;
    width: 100px;
    height: 30px;
    z-index: 100000; }
  .plasio-ui .slider-guides {
    font-size: 0.8em;
    margin-top: -15px;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px; }
  .plasio-ui .switch-resource a {
    display: block;
    color: #00BBD9;
    font-size: 1.3em;
    padding: 5px;
    border-bottom: 1px dashed #ccc; }
    .plasio-ui .switch-resource a:hover {
      color: white;
      background: #00BBD9;
      text-decoration: none; }
    .plasio-ui .switch-resource a:last-child {
      border-bottom: none; }
  .plasio-ui .target-location {
    color: white;
    display: inline-block;
    font-size: 0.9em; }
    .plasio-ui .target-location i {
      margin-right: 5px; }
  .plasio-ui .filter .textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    max-height: 400px;
    font-family: 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono', Monospace;
    font-size: 12px; }
  .plasio-ui .filter .btn-group {
    width: 100%;
    margin-bottom: 10px; }
  .plasio-ui .filter li > a {
    color: black; }
  .plasio-ui .context-menu {
    position: relative; }
    .plasio-ui .context-menu .context-menu .item {
      position: absolute;
      background-color: #00BBD9;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      margin-left: -26px;
      margin-top: -26px;
      color: white;
      border: 2px solid #006E7F;
      z-index: 1;
      transition: transform 0.1s ease-out, z-index 0.1s ease-out, left 0.1s ease-out, top 0.1s ease-out, opacity 0.1s; }
    .plasio-ui .context-menu .context-menu .item > .fa {
      position: absolute;
      font-size: 23px;
      line-height: 23px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      top: 50%;
      margin-top: -25%; }
    .plasio-ui .context-menu .context-menu .item > .fa-stack {
      position: absolute;
      font-size: 23px;
      line-height: 23px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      top: 50%;
      margin-top: -25%; }
    .plasio-ui .context-menu .context-menu .item .item-tip {
      position: absolute;
      width: 100%;
      background: #006E7F;
      border-radius: 4px;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.5em;
      top: -10px;
      display: none;
      opacity: 0; }
    .plasio-ui .context-menu .context-menu .item:hover {
      transform: scale(1.3);
      z-index: 100; }
    .plasio-ui .context-menu .context-menu .item:hover .item-tip {
      display: inherit;
      opacity: 1; }
  .plasio-ui .profile-view {
    position: fixed;
    right: 5px;
    top: 100px;
    background-color: black;
    border: 2px solid #333; }
  .plasio-ui .point-info-container {
    position: relative; }
    .plasio-ui .point-info-container h4 {
      margin-top: 0px; }
    .plasio-ui .point-info-container .fa-spinner {
      position: absolute;
      right: 10px;
      font-size: 16px;
      top: 2px; }
    .plasio-ui .point-info-container .source-metadata-link {
      display: block;
      text-align: left;
      margin-top: 10px;
      font-size: 1.1em;
      color: #00BBD6; }
    .plasio-ui .point-info-container .resource {
      background-color: #eee;
      padding: 5px;
      border-radius: 4px;
      font-weight: bold; }
    .plasio-ui .point-info-container .metadata h5 {
      margin: 25px 0 0 0;
      text-transform: uppercase;
      font-size: 0.9em;
      color: #999999; }
  .plasio-ui .animation-container .animation-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 10px 0; }
    .plasio-ui .animation-container .animation-controls > * {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -moz-box-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .plasio-ui .animation-container .animation-controls .slider {
      margin: 10px 5px; }
    .plasio-ui .animation-container .animation-controls > .btn {
      -webkit-box-flex: 0;
      -webkit-flex: 0;
      -moz-box-flex: 0;
      -moz-flex: 0;
      -ms-flex: 0;
      flex: 0;
      margin-right: 15px; }
  .plasio-ui .animation-container .animation-props {
    margin: 10px 0 20px 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 5px 10px 5px;
    border-radius: 3px; }
  .plasio-ui .animation-container .animation-frames--item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    border-left: 5px solid #eee;
    margin: 6px 0; }
    .plasio-ui .animation-container .animation-frames--item.animated-active {
      border-left: 5px solid #00BAD4; }
    .plasio-ui .animation-container .animation-frames--item > .info {
      margin-left: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .plasio-ui .animation-container .animation-frames--item > .info .name {
        font-size: 1.4em;
        line-height: 1em;
        font-weight: bold; }
      .plasio-ui .animation-container .animation-frames--item > .info .details {
        color: #999; }
    .plasio-ui .animation-container .animation-frames--item > .controls {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .plasio-ui .animation-container .animation-frames--item > .controls a {
        margin: 4px;
        color: #00BAD4;
        text-transform: uppercase;
        border: 1px solid #00BAD4;
        border-radius: 2px;
        padding: 1px 3px;
        font-weight: bold;
        font-size: 10px; }
        .plasio-ui .animation-container .animation-frames--item > .controls a.active {
          color: white;
          background-color: #00BAD4; }
        .plasio-ui .animation-container .animation-frames--item > .controls a.playing {
          color: white;
          background-color: #999;
          border-color: #999; }
        .plasio-ui .animation-container .animation-frames--item > .controls a:hover {
          color: #008da1; }
        .plasio-ui .animation-container .animation-frames--item > .controls a.playing:hover {
          color: white; }
        .plasio-ui .animation-container .animation-frames--item > .controls a:visited, .plasio-ui .animation-container .animation-frames--item > .controls a:active, .plasio-ui .animation-container .animation-frames--item > .controls a:focus {
          color: #00BAD4;
          text-decoration: none; }
        .plasio-ui .animation-container .animation-frames--item > .controls a.active:visited, .plasio-ui .animation-container .animation-frames--item > .controls a.active:active, .plasio-ui .animation-container .animation-frames--item > .controls a.active:focus {
          color: white;
          text-decoration: none; }
