/* some style */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #001D21;
    color: #999;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.checkbox {
    margin-top: 0px;
}

.noUi-connect {
    background-color: RGB(0, 187, 215);
}

.app-bar-container {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: auto;
}

.app-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    background-color: #00BCD6;
}

.app-bar .title {
    color: white;
    line-height: 28px;
    padding-left: 10px;
    font-weight: 700;
    float: left;
}

.app-bar .title .resource {
    color: #eee;
    padding-left: 10px;
    line-height: 10px;
    font-weight: 400;
    display: inline-block;
}


.app-bar .toolbar {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.app-bar .toolbar .btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.0em;
    padding: 2px 3px;
}

.app-bar .toolbar .separator {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid white;
}

.app-tooltip {
    position: absolute;
    right: -5px;
    top: 35px;
    background: RGB(0, 187, 215);
    color: white;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 0.8em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.8;
}

.mui-app-bar {
    min-height: 50px;
}

.mui-app-bar .mui-icon-button {
    margin-top: 1px;
}

.mui-app-bar .mui-app-bar-title {
    line-height: 45px;
}

input[type="checkbox"] {
    margin-top: 2px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #333;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #00BBD7;
}

#app {
    height: 100%;
}

.select-radios {
    margin-bottom: 10px;
}

.select-radios .radio {
    margin-right: 10px;
}

.select-radios input[type="radio"] {
    margin-right: 5px;
}

a, a:active, a:visited, a:focus {
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: #EB7F00;
}

select:focus {
    outline: 0;
}

select {
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: RGBA(172, 240, 242, 1);
    width: 100%;
}

select:disabled {
    cursor: not-allowed;
    color: #444;
    background-color: #B8B8B8;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loader {
    text-align: center;
    margin-top: 3em;
}

.container {
    position: absolute;
    left: 0px; top: 0px; right: 0px; bottom: 0px;
}

#render-target {
    position: fixed;
    left: 0px; top: 30px; right: 0px; bottom: 0px;
}

.app-container.with-dock #render-target {
}


#brand {
    font-size: 3em;
    text-transform: lowercase;
    font-weight: 700;
    padding-left: 10px;
    color: RGBA(34, 83, 120, 1);
}

#brand #sub-brand {
    font-size: 14px;
    margin-top: -10px;
    padding-left: 3px;
    color: RGBA(22, 149, 163, 1);
}

.dataset-info {
    font-size: 14px;
    padding-left: 10px;
}

.dataset-info p {
    color: #eee;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.dataset-info .points:after {
    content: ' Points';
}

.hud-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-y: hidden;
    background-color: RGBA(0,0,0,0.7);
    width: 300px;
}

.hud-container.active {
    background-color: RGBA(235, 127, 0, 0.5);
}

.hud-container.hud-left {
    -webkit-transition: left 0.5s;
    transition: left 0.2s;
    left: 0px;
    border-right: 3px solid RGBA(0, 163, 136, 1);
}

.hud-container.hud-right {
    -webkit-transition: right 0.5s;
    transition: right 0.2s;
    width: 300px;
    right: 0px;
    border-left: 3px solid RGBA(0, 163, 136, 1);
}

.hud-container a {
    font-size: 1.4em;
    font-weight: 700;
}

.hud-container.hud-left.hud-collapsed {
    left: -280px;
    overflow: hidden;
}

.hud-container.hud-right.hud-collapsed {
    right: -280px;
    overflow: hidden;
}

.hud-container .hud-contents {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 5px;
    overflow-y: auto;
}

.hud-container .hud-contents.left-contents {
    top: 165px;
}

.hud-left .hud-collapse {
    position: absolute;
    right: 3px;
    top: 0px;
}

.hud-right .hud-collapse {
    position: absolute;
    left: 3px;
    top: 0px;
}

.hud-right .hud-contents {
    left: 20px;
}

.hud-left .hud-contents {
    right: 20px;
}

.app-panel {
    position: relative;
    padding: 5px;
}

.app-panel .panel-section {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.app-panel .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-weight: 700;
    color: RGBA(172, 240, 242, 1);
}

.app-panel .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
}

.slider-text .text {
    margin-right: 20px;
}

.desc {
    color: #ddd;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
}

table.key-val {
  width: 100%;
  color: #999;
  border-collapse: collapse;
}

table.key-val tr {
    border-bottom: 1px dotted #ddd;
}

table.key-val tr:last-child {
    border-bottom: none;
}

table.key-val td {
    padding: 2px 2px 10px 2px;
    vertical-align: top;
    white-space: nowrap;
    float: left;
}

table.key-val td:last-child {
  text-align: right;
  white-space: nowrap;
  float: right;
}

.slider {
    margin: 10px 5px 20px 5px;
}

.compass {
    width: 96px;
    height: 96px;
    position: fixed;
    bottom: 5px;
    right: 25px;
}

.compass .circle {
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid RGBA(235, 240, 242, 0.4);
}

.compass .arrow {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    line-height: 1em;
    color: RGBA(235, 127, 0, 1);
    z-index: 100;
}

.compass .arrow .n {
    position:absolute;
    left: 38px;
    bottom: 48px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid red;
}

.compass .arrow .s {
    position:absolute;
    left: 38px;
    top: 48px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid white;
}

.toolbar {
    margin-top: 10px;
}

.toolbar .button {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: RGBA(0, 163, 136, 1);
    color: white;
    display: inline-block;
    font-size: 26px;
    box-shadow: 0px 1px 1px black;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 5px;
}

.toolbar .button.active {
    background-color: RGBA(235, 127, 0, 1);
}

.toolbar .button.disabled {
    background-color: RGBA(128, 128, 128, 1);
}

.toolbar .tip {
    display: inline-block;
    margin: 5px 0px 0px 0px;
    color: white;
    height: 13px;
    line-height: 13px;
    font-weight: 700;
}

.profile-view {
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 25px;
    height: 200px;
    background-color: RGBA(0,0,0,0.7);
    border: 2px solid RGBA(0, 163, 136, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 2px black;
}

.profile-view .profile-series {
    margin-top: 10px;
}

.profile-view .close {
    position: absolute;
    top: 3px;
    right: 5px;
    color: white;
}


.line-info {
    margin-left: 5px;
    padding: 2px 0px 2px 10px;
    font-weight: bold;
}

.status-message {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: RGBA(235, 127, 0, 1);
    color: white;
    z-index: 100000;
    border-radius: 3px;
    font-weight: bold;
}

.status-message.error {
    background-color: #d00;
}

.c3-axis-y .tick {
    font-weight: 700;
    fill: white;
}


.c3-axis-y .tick line {
    stroke: white;
}

.c3-axis-y .domain {
    stroke: white;
}


.point-type label {
    margin-right: 15px;
}

.point-type input[type="radio"] {
    margin: 0 3px 0 0;
}

.floating-panel {
    position: fixed;
    left: 120px;
    top: 50px;
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 1px #222;
}

.floating-panel a {
    color: white;
}

.floating-panel a:hover {
    color: #ddd;
}


.floating-panel
a:active,a:visited,a:focus {
                       color: white;
                   }

.floating-panel.collapsed {
    max-height: 32px;
    min-height: 0px;
    overflow: hidden;
}

.floating-panel.dragging {
    z-index: 100000;
}

.floating-panel .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 15px;
}

.floating-panel .toggle {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 15px;
}

.floating-panel .title {
    font-size: 0.9em;
    padding: 5px 3px;
    background-color: #00BBD7;
    color: #eee;
    cursor: default;
    box-shadow: 0px 0px 1px #666;
}


.floating-panel .title .fa {
    margin-left: 5px;
    margin-right: 5px;
}

.floating-panel .title-docked .fa {
    margin-left: 5px;
    margin-right: 5px;
}

.floating-panel .floating-panel-body {
    padding: 20px 20px;
    margin: 3px;
    border: 1px solid #ccc;
    font-size: 0.8em;
}

.floating-panel .unpin {
    position: absolute;
    right: 40px;
    top: 5px;
    display: none;
}

.floating-panel .pin {
    position: absolute;
    right: 40px;
    top: 5px;
}

.docker-widget {
    position: fixed;
    left: 0px;
    top: 65px;
    bottom: 0px;
    width: 300px;
    background-color: white;
    transition: left 0.2s;
}

.docker-widget .toolbar {
    margin-top: 0;
    background-color: RGBA(0, 187, 215, 1);
    padding: 10px 5px 10px 5px;
    box-shadow: 0px 1px 2px #333;
}

.docker-widget .toolbar-item {
    position: relative;
    font-size: 1.1em;
    background-color: RGBA(0, 187, 215, 1);
    margin-right: 2px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #333;
    color: #ddd;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.docker-widget .toolbar-item .tooltip {
    display: none;
    font-family: 'Roboto', sans-serif;
}

.docker-widget .toolbar .current-toolbar-item {
    color: white;
    padding-top: 10px;
}

.docker-widget .toolbar-item.active {
    background-color: RGBA(242, 105, 0, 1);
}

.docker-widget .toolbar-item:hover {
    color: #fff;
}

.docker-widget .toolbar-item:hover .tooltip {
    display: inherit;
}

.docker-widget.off {
    left: -275px;
    overflow: hidden;
}

.docker-widget .toggle-docker {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 5px;
    color: #ddd;
    font-size: 22px;
    font-weight: 700;
}

.docker-widget .toggle-docker:hover {
    color: white;
}

.docker-widget .active-pane {
    padding: 20px 45px 65px 45px;
    background-color: white;
    font-size: 0.8em;
    overflow: auto;
    position: absolute;
    top: 53px;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.bool-field {
    margin-bottom: 5px;
}

.bool-field label {
    width: 100%;
    font-weight: 400;
}

.bool-field .text {
    margin-top: 3px;
    float: left;
}

.bool-field .value {
    float: right;
}

.imagery .imagery-source .btn-group {
    width: 100%;
}

.imagery .imagery-source .btn-group button {
    width: 100%;
    text-align: left;
}

.imagery .imagery-source .btn-group .caret {
    float: right;
    margin-top: 7px;
}

.imagery .imagery-source .dropdown-menu {
    width: 100%;
}

.imagery .ramps-container {
    width: 100%;
    text-align: center;
}

.imagery .ramp-range {
    margin-top: 5px;
    text-align: center;
}

.local-settings .form-group {
    margin: 0px;
}

.local-settings .checkbox {
    margin: 0px;
}

.search-location .addr-info {
    margin-top: 10px;
}

.search-location .addr-info .addr {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    padding: 5px;
}

.search-location .addr-info .location {
    padding: 5px;
}

.search-location .error {
    color: red;
    padding-top: 5px;
}

.search-widget {
    position: fixed;
    top: 65px;
    background-color: white;
    width: 400px;
    color: #333;
    transition: height 0.2s, right 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: RGB(0, 187, 215);
}

input:focus {
    outline: none;
}

.search-widget input[type="text"] {
    border: 1px solid white;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0px 1px 2px #333;
}

.search-widget .error {
    font-size: 0.8em;
    padding: 5px 20px;
    color: #fff;
    margin: 0px;
}

.search-widget .addr-info {
    font-size: 0.8em;
    color: #eee;
    padding: 10px;
}

.search-widget .addr-info p {
    margin: 0px;

}

.search-widget .addr-info .coordinates {
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
}

.search-widget .cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #ccc;
}

.search-widget .cancel-button:hover {
    color: #999;
}

.innundation-plane .current-height {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.z-histogram {
    position: relative;
}

.z-histogram .histogram-base-region {
    position: absolute;
    height: 50px;
}

.histogram {
    position: relative;
    height: 50px;
    width: 200px;
}

.histogram .histogram-item {
    position: absolute;
    background-color: #ccc;
}

.histogram .histogram-item:last-child {
    border-right: none;
}


.value-present {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}

.value-present .key {
    margin-top: 6px;

}

.value-present .value {
    font-size: 1.4em;

}

.tip {
    padding: 10px;
    color: #aaa;
}

.powered-by {
    font-size: 12px;
}

.entwine {
    display: inline-block;
    background: url(../img/entwine.png);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%;
    width: 100px;
    height: 30px;
    z-index: 100000;
}

.slider-guides {
    font-size: 0.8em;
    margin-top: -15px;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}


.switch-resource a {
    display: block;
    color: #00BBD9;
    font-size: 1.3em;
    padding: 5px;
    border-bottom: 1px dashed #ccc;
}

.switch-resource a:hover {
    color: white;
    background: #00BBD9;
    text-decoration: none;
}

.switch-resource a:last-child {
    border-bottom: none;
}

.target-location {
    color: white;
    display: inline-block;
    font-size: 0.9em;
}

.target-location i {
    margin-right: 5px;
}


.context-menu {
    position: relative;
}

.context-menu .item {
    position: absolute;
    background-color: #00BBD9;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: -26px;
    margin-top: -26px;
    color: white;
    border: 2px solid #006E7F;
    z-index: 1;

    transition: transform 0.1s ease-out, z-index 0.1s ease-out, left 0.1s ease-out, top 0.1s ease-out, opacity 0.1s;
}

.context-menu .item>.fa {
    position: absolute;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    top:50%;
    margin-top: -25%;
}

.context-menu .item>.fa-stack {
    position: absolute;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    top:50%;
    margin-top: -25%;
}

.context-menu .item .item-tip {
    position: absolute;
    width: 100%;
    background: #006E7F;
    border-radius:4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.5em;
    top: -10px;
    display: none;
    opacity: 0;
}

.context-menu .item:hover {
    transform: scale(1.3);
    z-index: 100;
}

.context-menu .item:hover .item-tip {
    display: inherit;
    opacity: 1;
}

